In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv("D:\\ml project\\data\\AviationData.csv",encoding = "windows-1252")
df.head()

C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\3531528671.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("D:\\ml project\\data\\AviationData.csv",encoding = "windows-1252")

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [ ]:
df.columns = df.columns.str.strip().str.replace(".","_").str.replace(" ","_").str.lower()
df.columns

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  object
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50132 non-null  object
 9   airport_name            52704 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87507 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  float64
 18  engine_type             81793 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  float64
 24  total_serious_injuries  76379 non-null  float64
 25  total_minor_injuries    76956 non-null  float64
 26  total_uninjured         82977 non-null  float64
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82505 non-null  object
 30  publication_date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [9]:
df["event_date"] = pd.to_datetime(df["event_date"], errors = "coerce")
df["publication_date"] = pd.to_datetime(df["publication_date"],errors = "coerce")

C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\3944471709.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["publication_date"] = pd.to_datetime(df["publication_date"],errors = "coerce")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50132 non-null  object
 9   airport_name            52704 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87507 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  float64
 18  engine_type             81793 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  float64
 24  total_serious_injuries  76379 non-null  float64
 25  total_minor_injuries    76956 non-null  float64
 26  total_uninjured         82977 non-null  float64
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82505 non-null  object
 30  publication_date        75118 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(5), object(24)
memory usage: 21.0+ MB

In [11]:
num_cols = ["total_fatal_injuries","total_serious_injuries","total_minor_injuries","total_uninjured","number_of_engines","latitude","longitude"]
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors = "coerce")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  datetime64[ns]
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                11986 non-null  float64
 7   longitude               11974 non-null  float64
 8   airport_code            50132 non-null  object
 9   airport_name            52704 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87507 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  float64
 18  engine_type             81793 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  float64
 24  total_serious_injuries  76379 non-null  float64
 25  total_minor_injuries    76956 non-null  float64
 26  total_uninjured         82977 non-null  float64
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82505 non-null  object
 30  publication_date        75118 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(7), object(22)
memory usage: 21.0+ MB

In [15]:
drop_cols = ["accident_number","registration_number","latitude","longitude","publication_date","report_status","airport_code","airport_name"]
df.drop(columns = drop_cols,inplace = True)

KeyError: "['accident_number', 'registration_number', 'latitude', 'longitude', 'publication_date', 'report_status', 'airport_code', 'airport_name'] not found in axis"

In [16]:
df.columns

Index(['event_id', 'investigation_type', 'event_date', 'location', 'country',
       'injury_severity', 'aircraft_damage', 'aircraft_category', 'make',
       'model', 'amateur_built', 'number_of_engines', 'engine_type',
       'far_description', 'schedule', 'purpose_of_flight', 'air_carrier',
       'total_fatal_injuries', 'total_serious_injuries',
       'total_minor_injuries', 'total_uninjured', 'weather_condition',
       'broad_phase_of_flight'],
      dtype='object')

In [17]:
imp_cols = ["make","model","injury_severity","total_fatal_injuries","total_serious_injuries","total_minor_injuries","total_uninjured"]
df = df.dropna(subset = imp_cols)
df.shape

(73291, 23)

In [22]:
df["injury_severity"].value_counts()

injury_severity
Non-Fatal     56639
Fatal          5248
Fatal(1)       4679
Fatal(2)       2792
Incident       1569
              ...
Fatal(88)         1
Fatal(143)        1
Fatal(113)        1
Fatal(19)         1
Fatal(83)         1
Name: count, Length: 71, dtype: int64

In [23]:
df["aircraft_damage"].value_counts()

aircraft_damage
Substantial    53258
Destroyed      15695
Minor           2092
Unknown           92
Name: count, dtype: int64

In [24]:
df["aircraft_category"].value_counts()

aircraft_category
Airplane             23303
Helicopter            2934
Glider                 420
Balloon                192
Weight-Shift           161
Gyrocraft              153
Powered Parachute       91
Ultralight              24
Unknown                 11
WSFT                     9
Powered-Lift             2
Rocket                   1
Blimp                    1
ULTR                     1
Name: count, dtype: int64

In [25]:
df["weather_condition"].value_counts()

weather_condition
VMC    64312
IMC     4955
UNK      727
Unk      237
Name: count, dtype: int64

In [26]:
df["broad_phase_of_flight"].value_counts()

broad_phase_of_flight
Landing        11754
Takeoff         9947
Cruise          8242
Maneuvering     6462
Approach        5154
Climb           1636
Taxi            1507
Descent         1492
Go-around       1062
Standing         689
Unknown          469
Other             95
Name: count, dtype: int64

In [27]:
df["schedule"].value_counts()

schedule
UNK     4028
NSCH    3553
SCHD    2756
Name: count, dtype: int64

In [ ]:
df["purpose_of_flight"].value_counts()

In [28]:
def clean_injury_severity(x):
    if pd.isna(x):
        return "unknown"
    x = x.strip()

    if x.startswith("Fatal"):
        return "fatal"
    if x == "Incident":
        return "incident"
    if x == "Non-Fatal":
        return "non-fatal"
    return "unknown"

df["injury_severity"] = df["injury_severity"].apply(clean_injury_severity)

C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\2905085761.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["injury_severity"] = df["injury_severity"].apply(clean_injury_severity)

In [31]:
df["aircarft_damage"] = (df["aircraft_damage"].str.lower().str.strip().replace({"unk":"unknown"}))

C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\1534713997.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["aircarft_damage"] = (df["aircraft_damage"].str.lower().str.strip().replace({"unk":"unknown"}))

In [34]:
def clean_aircraft_category(x):
    if pd.isna(x):
        return "unknown"
    x = x.strip().lower()

    mapping = {
        "wsft": "weight_shift",
        "ultr": "ultralight"
    }

    # map abbreviations
    if x in mapping:
        return mapping[x]

    # normalize main categories
    x = x.replace("-", "_").replace(" ", "_")

    # rare types → other
    if x in ["rocket", "blimp"]:
        return "other"

    return x

df["aircraft_category"] = df["aircraft_category"].apply(clean_aircraft_category)

C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\3924184176.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["aircraft_category"] = df["aircraft_category"].apply(clean_aircraft_category)

In [35]:
df["broad_phase_of_flight"] = (
    df["broad_phase_of_flight"]
    .str.lower()
    .str.strip()
    .str.replace("-", "_")
)

df["broad_phase_of_flight"] = df["broad_phase_of_flight"].replace({
    "unknown": "unknown",
    "other": "other"
})

C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\359859129.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["broad_phase_of_flight"] = (
C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\359859129.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["broad_phase_of_flight"] = df["broad_phase_of_flight"].replace({

In [33]:
df["weather_condition"] = (
    df["weather_condition"]
    .str.upper()
    .str.strip()
    .replace({"UNK": "UNKNOWN"})
    .replace({"UNKNOWN": "unknown", "VMC": "vmc", "IMC": "imc"})
)

C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\3001293637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["weather_condition"] = (

In [36]:
df["broad_phase_of_flight"] = df["broad_phase_of_flight"].replace({
    "standing": "other"
})

C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\426770975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["broad_phase_of_flight"] = df["broad_phase_of_flight"].replace({

In [37]:
df["schedule"] = (
    df["schedule"]
    .str.upper()
    .str.strip()
    .replace({
        "SCHD": "scheduled",
        "NSCH": "nonscheduled",
        "UNK": "unknown"
    })
    .str.lower()
)

C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\2532346615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["schedule"] = (

In [38]:
def clean_purpose(x):
    if pd.isna(x):
        return "unknown"
    x = x.strip().lower()

    # public aircraft mapping
    public_map = ["public aircraft", "public aircraft - federal",
                  "public aircraft - state", "public aircraft - local",
                  "pubs", "publ"]

    if x in public_map:
        return "public_aircraft"

    # aerial operations
    aerial_ops = [
        "aerial application", "aerial observation", "external load",
        "air drop", "glider tow", "firefighting", "skydiving", "banner tow",
        "asho"
    ]
    if x in aerial_ops:
        return "aerial_operations"

    # business
    if x in ["business", "executive/corporate"]:
        return "business"

    # work/movement
    if x in ["positioning", "ferry", "other work use", "flight test", "air race show"]:
        return "other_work_or_movement"

    # base categories
    if x in ["personal", "instructional", "unknown"]:
        return x

    return "other"

df["purpose_of_flight"] = df["purpose_of_flight"].apply(clean_purpose)

C:\Users\garvg\AppData\Local\Temp\ipykernel_24208\949742942.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["purpose_of_flight"] = df["purpose_of_flight"].apply(clean_purpose)

In [39]:
df.to_csv("D:\\ml project\\data\\cleaned_aviation_data.csv")